body,
html {
  -webkit-font-smoothing: antialiased;
}

.header {
	& .container {
    width: 100%;
    border-collapse: collapse !important;
    background-color: $light-gray;
  }
  .text-center {
    margin: 10px 0;
    padding: 0;
    color: #656565;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }
  a {
    text-decoration: underline;
  }
}

.hero-image {
  & .container {
    width: 100%;
    padding-bottom: 15px;
  }
}

.paragraphs {
  .sizzle-text {
    font-family: $body-second-font;
    word-break: break-word;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    float: left;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
  }
}

.bowls {
  .protein-powered {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    word-break: break-word;
    border-spacing: 2px;
    padding-right: 6%;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-left: 6%;
    // padding-top: 20px;
  }
}

.buttons {
  font-family: $body-second-font;
  text-transform: uppercase;
  border-collapse: separate !important;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 100%;
  // text-align: center;
  text-decoration: none;
  color: $black;
  // display: block;
  padding: 14px;
}

.footer {
  & .container {
    background-color: $white;
  }
  .social-icons {
    & .social-media {
      padding-top: 9px;
      padding-right: 9px;
      padding-left: 9px;
      display: block;
      border: 0;
      height: auto;
      outline: none;
      text-decoration: none;
    }
  }
  .text-center {
    font-size: 12px;
    font-style: italic;
  }
  .receiving {
    font-size: 12px;
    font-style: normal;
    text-align: center;
  }
  .address  {
    text-align: center;
    .cava {
      font-size: 12px;
      font-weight: bold;
    }
    .street-number {
      font-size: 12px;
      // font-weight: lighter;
    }
    a {
      text-decoration: underline;
      font-size: 12px;
    }
  }
}
