<wrapper class="footer">
	<container>
		<img align="center" alt="#cookwithfire" src="{{ root }}/assets/img/cookwithfire.gif" />
		<row class="social-icons">
			<center>
				<spacer size="9"></spacer>
	      <menu class="social-media">
	        <item href="" target="_blank"><img src="{{ root }}/assets/img/fa-twitter.png" height="24" width="24"></item>
	        <item href="" target="_blank"><img src="{{ root }}/assets/img/fa-instagram.png" height="24" width="24"></item>
	        <item href="" target="_blank"><img src="{{ root }}/assets/img/fa-facebook.png" height="24" width="24"></item>
	        <item href="" target="_blank"><img src="{{ root }}/assets/img/fa-youtube.png" height="24" width="24"></item>
	      </menu>
     </center>
		</row>
		<row>
	   	<spacer size="25"></spacer>
	      <p class="text-center">Copyright © 2019 CAVA, All rights reserved. </br>
	       <span class="receiving">
	          You're receiving this email because you've communicated with CAVA before. </br>
	          To ensure delivery to your inbox, add hello@cava.com to your address book.
	      </span>
				</p>
				<spacer size="20"></spacer>


				<p class="address">
					<span class="cava">CAVA</span></br>
					<span class="street-number">702 H Street NW </br>
				  Second Floor </br>
					Washington, DC 20001 </br></span>
					<a href="#">Unsubscribe</a>
				</p>
		</row>
	</container>
</wrapper>
