<wrapper class="footer">
	<container>
		<img align="center" alt="#cookwithfire" href="https://www.instagram.com/cava/?utm_source=CAVA+Communications&utm_campaign=17ff18f480-EMAIL_2019_Summer_CWF_Protein_EC_080619&utm_medium=email&utm_term=0_0781726cfb-17ff18f480-195867929" src="https://i.imgur.com/FiKKhcQ.gifv" />
		<row class="social-icons">
			<center>
				<spacer size="9"></spacer>
	      <menu class="social-media">
	        <item href="https://shorturl.at/jnuvY" target="_blank"><img src="https://i.imgur.com/ckfm479.png" height="24" width="24"></item>
	        <item href="https://shorturl.at/aklpJ" target="_blank"><img src="https://i.imgur.com/IB55zS6.png" height="24" width="24"></item>
	        <item href="https://shorturl.at/qBT19" target="_blank"><img src="https://i.imgur.com/0cwv4Ec.png" height="24" width="24"></item>
	        <item href="https://shorturl.at/bsDGH" target="_blank"><img src="https://i.imgur.com/XBVevJH.png" height="24" width="24"></item>
	      </menu>
     </center>
		</row>
		<row>
	   	<spacer size="25"></spacer>
	      <p class="text-center">Copyright © 2019 CAVA, All rights reserved. </br>
	       <span class="receiving">
	          You're receiving this email because you've communicated with CAVA before. </br>
	          To ensure delivery to your inbox, add hello@cava.com to your address book.
	      </span>
				</p>
				<spacer size="20"></spacer>


				<p class="address">
					<span class="cava">CAVA</span></br>
					<span class="street-number">702 H Street NW </br>
				  Second Floor </br>
					Washington, DC 20001 </br></span>
					<a href="https://cava.us3.list-manage.com/unsubscribe/post">Unsubscribe</a>
				</p>
		</row>
	</container>
</wrapper>
